.product-nav{
    background-color: #fff;
  
    padding: 15px 25%;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(270px, 30px));
    
    position: relative;
    top: 672px;
}
.product-nav p{
   
    font-size: 26px;
    text-align: center;
    letter-spacing: 1px;
}
.product-nav button{
    letter-spacing: 1px;
    
    
    border: 0px;
    background-color: black;
    color: #fff;
    border-radius: 3px;
  
}
.product-nav-item{
  padding: 10px 10px;
  
 
}
