body {
    margin: 0px;
    padding: 0px;
    background-color: #EEEEEE;

}
.container-welcome{
    width: 100%;
    padding-top: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 94vh;
}
.container-welcome div{
    margin:  3% auto 15% auto;
    max-width: 400px;
    min-width: 35%;
    height: 530px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.welocme-header{
    width: 100%;
    background-color: #fff;
    text-align: center;
    position: relative;
    top: 55px;
}
.welocme-header h2{
    background-color: #fff;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 37px;
}
.text-info-conatiner{
    width: 100%;
    background: transparent;
    text-align: center;
    position: relative;
    top: 80px;
}
.text-info-conatiner p{
    letter-spacing: 1px;
    background: transparent;
    color: grey;

}
.button-conatiner{
    width: 100%;
    background: transparent;
    display: flex;
    position: relative;
    top: 150px;
}
.button-conatiner button{
    transition: .2s ease-in-out;
    margin-left: auto;
    margin-right: auto;
    
    border: 0;
    border-radius: 10px;
    background-color: black;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
    width: 150px;
    height: 50px;
}
.next-page-conatiner{
   
    width: 100%;
    background: transparent;
    display: flex;
    position: relative;
    top: 190px;
}
.next-page-conatiner button{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: .2s ease-in-out;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    
    border: 0;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
    width: 150px;
    height: 50px;
}
footer{
    width: 100%;
    background: transparent;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    top: 280px;
}
footer p{
    letter-spacing: 1px;
    color: grey;
    font-size: 15px;
    background: transparent;
    margin: 10px;
}
#register{
    color: #E84545;
    background: transparent;
    cursor: pointer;
}
.link{
    background: transparent;
    color: #fff;
    text-decoration: none;
}
.button-conatiner button:hover{
    transition: .2s ease-in-out;
    background-color: #E84545;

}
.next-page-conatiner button:hover{
    transition: .2s ease-in-out;
    background-color: #E84545;
}