body{
    margin: 0px;
    padding: 0px;
    background: #EEE
    
}
.navigation{
    width: 100%;
    height: 70px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
}
.navigation ul{
    display: flex;
    margin-left: 15%;
}
.btn-hidden{
    display: none;
}
.btn-active{
    display: block;
}
.navigation ul li{
    
    transition: .2s ease-in-out;
    cursor: pointer;
    margin: 20px;
    color: black;
    text-decoration: none;
    list-style-type: none;
    letter-spacing: 1px;
    text-decoration: none;
}
.router-link{
    text-decoration: none;
}
.navigation h3{
    color: black;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 3%;
    padding: 2px;
}
.btn-contact-nav{
    transition: .2s ease-in-out;
    width: 90px;
    height: 35px;
    font-size: 15px;
    font-weight: 600;
    padding: 4px;
    border-radius: 10px;
    background: black;
    border: 0px;
    border-radius: 12px;
    color: #fff;
    letter-spacing: 1px;
   
}

.modal-main-container{
    transition: .2s ease-in-out;
    transform: translateY(-100%);
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}
.modal-container{
   
    width: 380px;
    padding: 20px;
    height: 500px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin: 8% auto;
    
    background-color: #fff;
}
.slider-header{
    width: 100%;
    position: relative;
    top: 90px;
    
  
    
}

.slider-header button{
    transition: .2s ease-in-out;
    letter-spacing: 1px;
    width: 200px;
    height: 50px;
    border-radius: 0 5rem;
    background: orange;
    font-weight: 600;
    font-size: 20px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    color: #fff;
    border: 0;
    margin-left: 30%;
   
}
.active-dot{
    background-color: black;
}
.slider-header-item{
    margin: 50px;
}
.slider-header h3{
    letter-spacing: 1px;
    font-size: 40px;
    color: #fff;
    margin-left: 30%;
 
}
.modal-container header{
    width: 100%;
    display: flex;
}
.modal-container header img{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 25px;
}
.modal-container header button{
    transition: .2s ease-in-out;
    width: 40px;
    height: 40px;
    background-color: #EEEEEE;
    border: 0px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}
.options-container-modal{
    width: 100%;
    display:  grid;
    position: relative;
    top: 85px;
}
.modal-text-descryption-container{
    width: 100%;
    position: relative;
    top: 26px;
}
.modal-text-descryption-container p {
    width: 200px;
    text-align: center;
    color: grey;
    font-size: 13px;
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
}
.options-container-modal button{
    transition: .2s ease-in-out;
  max-width: 200px;
  min-width: 90%;
  height: 40px;
  background-color: black;
  color: #fff;
  border: 0;
  border-radius: 10px;
  margin: 20px;
  font-weight: 600;
  font-size: 16px;
}
#options-list{

    position: relative;
    top: 0px;
    right: 30px;
}
#options-list li{
    font-size: 20px;
}
.active-modal{
    transition: .2s ease-in-out;
    transform: translateY(0%);
}




.drop-menu{
    transition: .2s ease-in-out;
    width: 350px;
    height:100vh;
    transform: translateX(-100%);
    background-color: #fff;
    z-index: 1;
    position: fixed;
    top: 69px;
    left: 0px;
}

.drop-menu ul li{
    width: 150px;
    
    transition: .2s ease-in-out;
    color: black;
    letter-spacing: 1px;
    margin: 100px;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}
.drop-menu header{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
}
.btn-close-menu{
    transition: .2s ease-in-out;
    width: 90px;
    height: 35px;
    font-size: 15px;
    padding: 4px;
    border-radius: 10px;
    background-color: transparent;
    border: 0px;
    border-radius: 12px;
    color: #fff;
    background-color: black;
    letter-spacing: 1px;
}
.main-slider-container{
    position: absolute;
    top: 71px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:600px;
}

.slide{
    
    background-size: cover;
    background-position:center ;
    background-repeat:no-repeat ;
    width: 100%;
    height: 600px;
}
.hidden-slide{
    display: none;
}
.arrow{
    position: absolute;
    
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: white;
}
#left-arrow{
    left: 1rem;
}
#right-arrow{
    right: 1rem;
}
.dot-box{
    display: flex;
    position: absolute;
    bottom: 1rem;
}
.dot{
    background-color: white;
  height: 13px;
  width: 13px;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
}
#btn-toggle{
    transition: .2s ease-in-out;
    padding: 10px;
    background: transparent;
    color: black;
    font-size: 26px;
    border: 0px;
    margin-right: 3%;
    display: none;
}
.options-container-modal button:hover{
    transition: .2s ease-in-out;
    background-color: #E84545;
    color:#fff;
}
.modal-container header button:hover{
    transition: .2s ease-in-out;
    background-color: black;
    color: #fff;
}
.slider-header button:hover{
    transition: .2s ease-in-out;
    transform: scale(1.1,1.1);
    background-color: gold;
}
.btn-close-menu:hover{
 transition: .2s ease-in-out;
 background-color: #3AA6B9;
 transform: scale(1.1,1.1);
}
#btn-toggle:hover{
    transition: .2s ease-in-out;
    color: #3AA6B9;
}
.btn-slider-box button:hover{
    transition: .2s ease-in-out;
    transform: scale(1.1,1.1);
    background-color: gold;
}
.navigation ul li:hover{
    transition: .2s ease-in-out;
    color:#3AA6B9 ;
}
.drop-menu ul li:hover{
    transition: .2s ease-in-out;
    color: #3AA6B9;
    transform: scale(1.1,1.1);
}
.btn-contact-nav:hover{
    transition: .2s ease-in-out;
    background-color: #3AA6B9;
}
.active-menu{
    transition: .2s ease-in-out;
    transform: translateX(0%);
}
@media screen and (max-width: 760px){
    .btn-contact-nav{
        display: none;
    }
    .navigation ul li{
       display: none;
    }
    #btn-toggle{
        display: block;
    }
    
}
