.orders-container{
    width: 100%;
    height: 100%;
    
}
.orders-wrapper{
    margin: 6% auto;
    max-width: 400px;
    min-width: 40%;
    height: 590px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.orders-wrapper header{
    width: 100%;
    display: flex;
}
.orders-wrapper header button{
    background: transparent;
    border: 0;
    letter-spacing: 1px;
    font-size: 16px;
    margin: 25px;
}
.orders-wrapper header p{
    margin: 5px;
    font-size: 13px;
    position: relative;
    top: 22px;
    letter-spacing: 1px;
    color: grey;
}
.info-container{
    width: 100%;

 
}

.info-container-item{
    display: flex;
}
.info-container-item button{
    transition: .2s ease-in-out;
    width: 150px;
    border-radius: 10px;
    border: 0;
    background-color:royalblue;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 16px;
    margin-left: auto;
}
.info-container-item h2{
    letter-spacing: 2px;
    font-size: 29px;
    margin-left: 7%;
}
.info-container-item p{
    margin-left: 7%;
    letter-spacing: 1px;
    color:#3CCF4E;
}
.wrapper-info-item{
    margin: 20px;
}
#list-box-orders{
    border-top: 2px solid #EEEEEE;
    border-bottom: 2px solid #EEEEEE;
    height: 300px;
}
.info-container-item button:hover{
    transition: .2s ease-in-out;
    background-color: #51C4D3;
}