.products-side-menu{
    transition: .2s ease-in-out;
    width: 350px;
    height:100vh;
    transform: translateX(-100%);
    background-color: #fff;
    z-index: 1;
    position: absolute;
    top: 69px;
    left: 0px;
}
.products-side-menu header {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid;
}
.products-side-menu header h3{
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 700;
}
.buttons-products-wrapper-menu{
    display: flex;
    justify-content: right;
    width: 100%;
}
.buttons-products-wrapper-menu button{
    background: transparent;
    border: 0;
    transition: .2s ease-in-out;
    font-weight: bold;
    font-size: 26px;
    margin-right: 10px;
    position: relative;
    top: 10px;
    
}
.products-menu-active{
    transition: .2s ease-in-out;
    transform: translateX(0%);
}
.buttons-products-wrapper-menu button:hover{
    transition: .2s ease-in-out;
    color: #3AA6B9;
}