
.product-nav{
    background-color:#F5F5F5;
   
    
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(270px, 30px));
    padding: 15px;
    
    position: relative;
    top: 671px;
}
.product-nav p{
    
    font-size: 32px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 700;
}
.product-nav button{
    letter-spacing: 1px;
    transition: .2s ease-in-out;
    padding: 11px;
    font-size: 14px;
    border: 0px;
    background-color: #101010;
    color: #fff;
    border-radius: 3px;
  
}
.product-nav-item{
  padding: 10px 10px;
  
 
}
.product-nav button:hover{
    transition: .2s ease-in-out;
    background-color: white;
    color: black;
}
